.nav-info{
    /* border: solid white; */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* height: fit-content; */
}

.ref-doc{
    text-shadow: none;
}

.ref-doc:hover{
    background-color: none;
    color: #5162ff;
}

@media (max-width: 950px) {
    .ref-doc{
        display: none;
    }

    .nav-info{
        height: fit-content; 
    }

    .ref-doc{
        display: flex;
        font-size: smaller;
    }
}
