.nav-info{
    /* border: solid white; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5%;
    margin-right: 5%;
    /* height: fit-content; */
}

.ref-doc{
    text-shadow: none;
}

.ref-doc:hover{
    color: #5162ff;
}

@media (max-width: 950px) {
    .ref-doc{
        display: none;
    }

    .nav-info{
        height: fit-content;
        
    }

    .nav-info h4{
        font-size:medium; 
        
    }
}
