.screem {
    display: flex;
    /* border: solid red; */
    /* padding-left: 5%; */
    /* padding-right: 10%; */
    height: 100vh;
  }
  
  .left-col {
    border: solid green;
    width: 20%;
    display: flex;
    justify-content: center;
    background-color: #06549E;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
  }
  
  .right-col {
    /* border: solid yellow; */
    flex: 1;
    overflow-y:scroll;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-left: 5%;
    padding-right: 5%;
    /* text-align: center; */
    /* height: 50vh; */
  }
  
  /* .right-content {
    max-height: 50vh;
  } */

  .right-col::-webkit-scrollbar {
    width: 0.5em;
  }
  
  .right-col::-webkit-scrollbar-thumb {
    background-color: #040b1e;
    outline: 1px solid rgba(90, 90, 125, 0.502);
    border-radius: 5px;
  }

  @media (max-width: 950px) {
    .screem {
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    .left-col {
      width: 100%;
      padding-top: 5%;
      padding-bottom: 0%;
      padding-left: 0;
      padding-right: 0;
      /* border: solid red; */
      /* justify-content: left; */

  }
    .right-col {
        width: 100%;
        overflow-y: visible;
        padding-top: 20%;
        padding-bottom: 5%;
        /* border: solid red; */
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 950px) and (max-width: 1300px) {
  .screem {
    padding-left: 0%;
    padding-right: 0%;
}

}